* {
	font-family: roboto mono, arial, helvetica;	
	text-transform: uppercase;
}

body {
	background-color: #030303;
	margin: .5em;
	padding: 0;
}

/*De opstelling van de body van de website*/
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/*grid-template-areas: 
		'header header header header'
		'title title title title'
		'statone statone statone statone'
		'stattwo stattwo stattwo stattwo'
		'statthree statthree statthree statthree'
		'footer footer footer footer';*/
	grid-gap: 1em;
	margin: 0 auto;
}

.header {
	display: grid;
	grid-column: 1/5;
	/*grid-area: header;*/
	/*display: block;*/
	position: relative;
	position: left;
	z-index: 777;
	width: 100%;
	margin: 5px auto;
	padding: 5px;
	background: #324048;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.logo {
	display: grid;
	grid-column: 1/2;
	/*color: #7B9AA0;*/
	height: 40px;
	/*font-size: 36px;
	line-height: 60px;*/
	/*padding-right: 0;*/
	text-align: center;
	box-sizing: border-box;
	float: left;
	width: 180px;
	padding: 5px;
	/*font-weight: 400;
	text-decoration: none;
*/}

nav {
	display: grid;
	grid-column: 3/5;
	float: right;

	text-align: left;
	left: 0;
	width: 100%;
}

.clearfix {
	clear: both;
}

nav ul {
	margin: 10px;
	padding: 0;
	display: ;
	display: flex;
	position: absolute;
	right: 10px;
}

nav ul li {
	list-style: none;
}
 
nav ul li a {
	display: block;
	margin: 5px 0;
	padding: 10px 10px;
	text-decoration: none;
	color: #7B9AA0;
}

nav ul li a.active, 
nav ul li a:hover {
	color: #426A5A;
	transition: 0.5s;
	font-weight: 800;
}

.title {
	display: grid;
	grid-column: 1/5;
	/*height: 100px;*/
	text-align: center;
	/*grid-area: title;*/
}

.responsive {
	width: 100%;
	height: 300px;
}

.statone {
	display: grid;
	grid-column: 1/5;
	margin: .1em;

}

.stattwo {
	display: grid;
	grid-column: 1/5;
	margin: .1em;

}

.statthree {
	display: grid;
	grid-column: 1/5;
	margin: .1em;

}

.aside {
	display: grid;
	grid-column: 1/5;
	margin: .1em;
	height: 20px;
	/*background-image: url('images/naut.jpg');*/

}

.aside img {
	background-position: center;
	background-size: cover;
	height: 50vh;
	-webkit-clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.footer {
	display: grid;
	grid-column: 1/5;
	background-color: #324048;
	border-radius: 4px;
}

.footer p {
	color: #7B9AA0;
	margin: 5px;
}

.footleft {
	display: grid;
	grid-column: 1/3;
	padding: 10px;
}

.footright {
	display: grid;
	grid-column: 3/5;
	padding: 5px;

}

.logofoot {
	display: grid;
	grid-column: 3/5;
	/*position: absolute;*/

	box-sizing: border-box;
	float: left;
	height: 40px;
	width: 180px;
	padding: 5px;
	margin-top: 20px;
}

@media only screen and (max-width: 360px) {
	.wrapper {
		margin: 0 0 auto;
	}
	.aside {
		display: none;
	}
}

@media only screen and (max-width: 750px) {
	.wrapper {

	}


	.menu-toggle {
		display: grid;
		grid-column: 4/5;

		display: block;
		width: 40px;
		height: 40px;
		margin: 10px;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: #7B9AA0;
	}

	.menu-toggle:before {
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 40px;
	}

	.menu-toggle.active:before {
		content: '\f00d';
	}

	nav {
		display: none;
	}

	nav.active{
		display: block;
		width: 100%;
	}

	nav.active ul {
		display: block;
		display: right;
	}

	nav.active ul li a {
		margin: 0;
	}

	.aside {
		display: none;
	}
}


@media only screen and (min-width: 751px) {
	.logo {
		display: grid;
		grid-column: 1/2;
	}

	.nav {
		display: grid;
		grid-column: 2/5;
	}

	.aside {
		display: none;
	}
}


@media only screen and (min-width: 800px) {

	.statone {
		display: grid;
		grid-column: 1/3;
	}

	.stattwo {
		display: grid;
		grid-column: 3/5;
	}

	.statthree {
		display: grid;
		grid-column: 1/4;
	}
	.aside {
		display: grid;
		grid-column: 4/5;
	}

}


@media only screen and (min-width: 1000px) {
	.wrapper {
		margin-left: 150px;
		margin-right: 150px;
	}





/*	.wrapper {
 		margin: 100px;
 	}

 	header {
		margin: 10px;
	}
*/
	
}
